@font-face {
    font-family: 'firacode';
    src: url('firacode.ttf');
}

@keyframes node-ready {
  from { clip: rect(1px, auto, auto, auto); }
  to { clip: rect(0px, auto, auto, auto); }
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

body {
    margin-left:  auto;
    margin-right: auto;
    min-width: 960px;
    min-height: 540px;
    width: 960px;
    height: 540px;
    position: relative;
    background-color: rgb(40, 44, 52);
    font-family: 'firacode';
    font-size: 14px;
    color: #ffffff;
    border: solid 1px black;
}

iframe {
    animation-name: node-ready;
    animation-duration: 0.001s;
    opacity: 0%;
    position: absolute;
    width: 480px;
    height: 270px;
    left: 480px;
    top: 270px;
    overflow: hidden;
    border: none;
    margin: 0px;
    padding: 0px;
    z-index: 0;
}

#editor {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 480px;
    height: 540px;
    background-color: rgb(40, 44, 52);
    border-right: solid 1px black;
    z-index: 1;
}

.ace_gutter {
    background: rgb(40, 44, 52) !important;
}

a { color: white; }
a:visited { color: white; }

#tutorial {
    animation-name: node-ready;
    animation-duration: 0.001s;
    left: 480px;
    width: 480px;
    font-size: 14px;
    position: absolute;
    height: 270px;
    border-bottom: solid 1px black;
    z-index: 1;
}

#tutorial h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    border-bottom: solid 1px silver;
}

#tutorial div {
    padding: 10px;
    z-index: 1;
}

#tutorial code {
    background-color: rgb(70, 74, 82) !important;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

#tutorial-menu {
    left: 490px;
    top: 245px;
    color: #FFFFFF;
    z-index: 100;
    position: absolute;
    font-weight: 900;
    font-size: 20px;
    line-height: 0.9em;
    z-index: 100;
}

#tutorial-full {
    left: 760px;
    top: 245px;
    color: #FFFFFF;
    z-index: 100;
    position: absolute;
    font-weight: 900;
    font-size: 20px;
    line-height: 0.9em;
    z-index: 100;
}

#tutorial-next {
    left: 413px;
    text-decoration: none;
    top: 5px;
    color: #FFFFFF;
    z-index: 100;
    position: absolute;
    font-weight: 900;
    font-size: 16px;
    line-height: 0.9em;
    z-index: 100;
    border: solid 1px #ffffff;
    background-color: #000000;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#tutorial-prev {
    left: 345px;
    text-decoration: none;
    top: 5px;
    color: #FFFFFF;
    z-index: 100;
    position: absolute;
    font-weight: 900;
    font-size: 16px;
    line-height: 0.9em;
    z-index: 100;
    border: solid 1px #ffffff;
    background-color: #000000;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

#tutorial-link-pointer {
    left: 610px;
    top: 225px;
    color: #555555;
    z-index: 100;
    position: absolute;
    font-size: 15px;
}
