body {
    margin-left:  auto;
    margin-right: auto;
    min-width: 960px;
    min-height: 540px;
    width: 960px;
    height: 540px;
    position: relative;
    background-color: rgb(40, 44, 52);
    font-family: monospace;
    font-size: 16px;
    color: #ffffff;
}

iframe {
    position: absolute;
    width: 480px;
    height: 270px;
    left: 480px;
    top: 270px;
    overflow: hidden;
    border: solid 1px black;
}

#editor {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 480px;
    height: 540px;
    background-color: rgb(40, 44, 52);
    border: solid 1px black;
}

/* .ace_editor { */
/*     background: rgb(40, 44, 52) !important; */
/* } */

/* .ace_content { */
/*     background: rgb(40, 44, 52) !important; */
/* } */

.ace_gutter {
    background: rgb(40, 44, 52) !important;
}

#tutorial {
    left: 480px;
    width: 480px;
    font-size: 18px;
    position: absolute;
    border: solid 1px black;
    height: 270px;
}

#tutorial h1 {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
    font-size: 25px;
    border-bottom: solid 1px silver;
}

#tutorial div {
    font-size: 20px;
    padding: 10px;
}

#tutorial code {
    background-color: rgb(70, 74, 82) !important;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

#tutorial-next {
    left: 903px;
    top: 230px;
    color: #FFFFFF;
    z-index: 100;
    position: absolute;
    font-weight: 900;
    font-size: 20px;
    line-height: 0.8em;
}

#tutorial-prev {
    left: 833px;
    top: 230px;
    color: #FFFFFF;
    z-index: 100;
    position: absolute;
    font-weight: 900;
    font-size: 20px;
    line-height: 0.8em;
}

#tutorial-link-pointer {
    left: 610px;
    top: 225px;
    color: #555555;
    z-index: 100;
    position: absolute;
    font-size: 15px;
}
